/*  */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    /* Colors */
    /* Primary */
    --green-primary: hsl(172, 67%, 45%);
    /* Neutral */
    --green-900: hsl(183, 100%, 15%);
    --green-h1: hsla(183, 100%, 15%, 0.7);
    --dark-green-text: hsl(190, 72%, 22%);
    --grey-500: hsl(186, 14%, 43%);
    --grey-400: hsl(184, 14%, 56%);
    --grey-body: hsl(185, 41%, 84%);
    --grey-background-input: hsl(189, 47%, 97%);
    --white: hsl(0, 100%, 100%);
    /* Fonts size */
    --font-size-form-inputs: 1.5em;
}

::after,
::before,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--grey-body);
    display: grid;
    place-items: center;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: var(--font-size-form-inputs);
}

.main-component {
    width: clamp(320px, 50vw, 38rem);
}

.main-component h1 {
    font-size: clamp(18px, 1rem + 5vw, 1.5rem);
    color: var(--green-h1);
    letter-spacing: 3px;
    margin-block-end: 2rem;
    text-align: center;
    width: 100%;
}

.main-component_container {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    padding-inline: 1.2rem;
    padding-block: 1.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.container_fieldset {
    border: none;
    margin-block-end: 1rem;
    width: 100%;
}

.container_fieldset input[type="text"] {
    width: 100%;
    padding: 0.3em;
    font-size: 1em;
    font-weight: 700;
    color: var(--dark-green-text);
    background-color: var(--grey-background-input);
    text-align: end;
    border: none;
    border-radius: 1vmax;
}

input[type="text"]:hover {
    outline: 2px solid var(--green-primary);
    cursor: pointer;
}

input[type="text"]:focus {
    outline: 2px solid var(--green-primary);
}

.container_fieldset label,
p {
    padding: 0.1em;
    font-size: 0.6em;
    color: var(--grey-500);
}

.container_select-tip {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    margin-block-start: 0.7rem;
    margin-block-end: 1.4rem;
}

.select-tip_btn-tips {
    padding: 0.7em;
    font-size: 1rem;
    font-weight: 700;
    color: var(--white);
    background-color: var(--green-900);
    outline: none;
    border: none;
    border-radius: 1vmax;
    font-family: "Space Mono", monospace;
    transition: background-color 0.4s ease-in-out;
}

.select-tip_btn-tips:hover {
    background-color: var(--green-primary);
    cursor: pointer;
}

.select-tip_btn-tips:focus {
    background-color: var(--green-primary);
}

#text-tip-custom {
    background-color: var(--grey-background-input);
    color: var(--green-h1);
    width: 100%;
    text-align: center;
}

.container_tip-amount {
    padding-inline: 1em;
    padding-block-start: 2rem;
    padding-block-end: 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--white);
    background-color: var(--green-900);
    border-radius: 1.5vmax;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    row-gap: 1rem;
}

#p-tip-amount {
    grid-area: 1/1/1/1;
}

#p-total-person {
    grid-area: 2/1/2/1;
}

#span-tip-amount {
    grid-area: 1/2/1/2;
}

#span-total-person {
    grid-area: 2/2/2/2;
}

#text-total-person {
    grid-area: 3/1/3/3;
    background-color: var(--green-primary);
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.container_tip-amount p {
    color: var(--white);
    font-size: 0.9rem;
}

.container_tip-amount span {
    font-size: 1.8rem;
    color: var(--green-primary);
    text-align: end;
}

.container_tip-amount #span-person {
    padding: 0.1em;
    font-size: 0.9em;
    color: var(--grey-400);
}

@media (min-width: 80rem) {
    .main-component {
        width: clamp(1024px, 68vw, 70rem);
        border-radius: 1rem;
    }

    .main-component_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 2rem;
        border-radius: 1rem;
    }

    .select-tip_btn-tips {
        border-radius: 12px;
    }
}